{% extends 'pages/base.html' %}

{% block title %} Home {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/pages/index.css') }}">
{% endblock styles %}

<!-- Header -->
{% block header %}  

    <!-- Import navbar -->
    {% include "components/navbar.html" %}

    <!-- import banner -->
    {% include "components/carousel_banner.html" %}  
    
{% endblock header %} 

{% block content %} 
    <div class="home-container">

        <!-- What do we do -->
        <div class="we-do-container">

            <div class="we-do-text">
                <h2>What We Do?</h2>
                <h1>We're a Team & Community of Technologies</h1>
            </div>

        
            <div class="we-do-squares">
                
                <div class="activity">
                    
                    <div class="icon-header">
                        <div class="icon">
                            <i class="fa-regular fa-handshake fa-xl" style="color: #4d5d92;"></i>
                        </div>
                        
                        <h2> Meetings </h2>
                    </div>

                    <p>
                        Our cybersecurity club meetings provide a 
                        platform to network, learn, and discuss 
                        computer security topics.
                    </p>

                </div>

                <div class="activity">

                    <div class="icon-header">
                        <div class="icon">
                            <i class="fa-regular fa-flag fa-xl" style="color: #4d5d92;"></i>
                        </div>

                        <h2>CTF Events </h2>
                    </div>
                    
                    <p>
                        CTFs offer hands-on experience, skill development, 
                        networking opportunities, awareness of current threats, 
                        and team-building opportunities. 
                    </p>

                </div>

                <div class="activity">

                    <div class="icon-header">
                        <div class="icon">
                            <i class="fa-solid fa-chalkboard fa-xl" style="color: #4d5d92;"></i> 
                        </div>

                        <h2> Workshops </h2>
                    </div>

                    <p>
                        We offer hands-on learning, skill development, 
                        networking opportunities, awareness of current 
                        trends and technologies, and preparation 
                        for certification exams.
                    </p>
                    
                </div>
            </div>
            
        </div>
        
        <!-- Sponsors -->
        <div class="sponsors-container">

            <div class="sponsors-text">
                <h1>Our <span class="beloved">beloved</span> sponsors</h1>
                <p>A big thanks to all our <span class="beloved">sponsors</span>!</p>
            </div>
            
            <div class="img-container">
                <div class="sponsor-img">
                    <a href="https://www.uta.edu/academics/schools-colleges/engineering/academics/departments/cse"><img src="{{url_for('static', filename="img/index/uta.png")}}" alt="UTA logo"></a>
                </div>
        
                <div class="sponsor-img">
                    <a href="https://www.isaca.org/"><img src="{{url_for('static', filename="img/index/isaca.png")}}" alt="ISACA logo"></a>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}