<!-- Footer styles -->
{% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/components/carousel_banner.css') }}">
{% endblock styles %}

<div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
    <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
    <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img alt="First slide" class="d-block w-100" src="{{url_for('static', filename="img/home2/img4_blue.jpeg")}}">
      <div class="carousel-caption d-md-block">
        <!-- <h5 class="animated bounceInRight" style="animation-delay: 1s">Welcome to CSEC</h5> -->
        <h5 id="myElement"></h5>

        <p class="animated bounceInLeft" style="animation-delay: 2s">The Cybersecurity Club aims to empower 
          and provide support students for a career 
          in cybersecurity through academic, professional, 
          and social events.</p>
        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Testing</a></p>
      </div>
    </div>

    <div class="carousel-item">
      <img alt="Second slide" class="d-block w-100" src="{{url_for('static', filename="img/home2/img3_blue.jpeg")}}">
      <div class="carousel-caption d-md-block">
        <h5 class="animated bounceInRight" style="animation-delay: 1s">Welcome to CSEC</h5>
        <p class="animated bounceInLeft" style="animation-delay: 2s">The Cybersecurity Club aims to empower 
          and provide support students for a career 
          in cybersecurity through academic, professional, 
          and social events.</p>
        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Join CSEC</a></p>
      </div>
    </div>

    <div class="carousel-item">
      <img alt="Third slide" class="d-block w-100" src="{{url_for('static', filename="img/home2/img1_blue.jpeg")}}">
      <div class="carousel-caption d-md-block">
        <h5 class="animated bounceInRight" style="animation-delay: 1s">Welcome to CSEC</h5>
        <p class="animated bounceInLeft" style="animation-delay: 2s">The Cybersecurity Club aims to empower 
          and provide support students for a career 
          in cybersecurity through academic, professional, 
          and social events.</p>
        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Join CSEC</a></p>
      </div>
    </div>
  </div><a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
</div>




<!-- Scripts -->
{% block scripts %}

<!-- Type it link -->
<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>

<!-- Type it text -->
<script>
  new TypeIt("#myElement", {
    strings: "Welcome to CSEC!",
  }).go();
</script>

{% endblock scripts %}