{% extends 'base.html' %}


{% block title %} <title>Home</title> {% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/gallery.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">
{% endblock styles %}

{% block body%}

<div class="head-section">
    <h1>CSEC<br>Throughout the Years</h1>
</div>

<div class="gallery-container">

    <!-- Spring 2023 -->
    <div class="sp-23 photo-container">

        <h1>Spring 2023</h1>
        <ul>
            <li><img src="{{url_for('static', filename="img/gallery/SP_23/1.JPG")}}" alt="spring2023_1"></li>
            <li><img src="{{url_for('static', filename="img/gallery/SP_23/2.png")}}" alt="spring2023_2"></li>
        </ul>

    </div>

    <!-- Fall 2022 -->
    <div class="fall-22 photo-container">

        <h1>Fall 2022</h1>
        <ul>
            <li><img src="{{url_for('static', filename="img/gallery/FA_22/1.JPG")}}" alt="fall22_1"></li>
            <li><img src="{{url_for('static', filename="img/gallery/FA_22/2.JPG")}}" alt="fall22_2"></li>
        </ul>

    </div>

    <!-- Fall 2021 -->
    <div class="fall-21 photo-container">

        <h1>Fall 2021</h1>
        <ul>
            <li><img src="{{url_for('static', filename="img/gallery/FA_21/FA21_1.jpg")}}" alt="fall21_1"></li>
            <li><img src="{{url_for('static', filename="img/gallery/FA_21/FA21_2.jpg")}}" alt="fall21_2"></li>
        </ul>

    </div>

</div>

{% endblock %}