:root
{
    --fs-xl: clamp(1rem, 3vw + 0.3rem, 3rem);
    --calendar-width: clamp(15rem, 75vw + 1rem, 50rem);
    --calendar-height: clamp(15rem, 55vh, 30rem);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) 
{
    :root
    {
        --fs-xl: clamp(2rem, 3.5vw + 1rem, 6rem);
        --calendar-width: clamp(25rem, 75vw + 1rem, 80rem);
        --calendar-height: clamp(35rem, 20vh, 30rem);
    }
}

@media only screen and (min-width: 1024px) 
{
    :root
    {
        --fs-xl: clamp(3.5rem, 4vw + 1rem, 8rem);
        --calendar-width: clamp(20rem, 50vw + 1rem, 100rem);
        --calendar-height: clamp(35rem, 20vh, 30rem);
    }
}

.head-section
{
    min-height: 40vw;

    /* Location of the image */
    background-image: url("../img/calendar/calendar.svg");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
}

.head-section h1
{
    text-align: center;
    border: 0.5vw solid white;
    background-color: #062344;
    color: white;
    font-size: var(--fs-xl);

    padding: 20px;
    width: fit-content;

    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
}

.calendar
{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    background-image: linear-gradient(to left bottom, #a0d4e1, #8accdf, #73c4de, #59bcdd, #38b3dd);
}

.calendar iframe
{
    width:var(--calendar-width);
    height:var(--calendar-height);
}

#google-calendar
{
    margin-top: 5.3vw;
    margin-bottom: 10vw;
}

@media only screen and (max-width: 767px) 
{
    .calendar img
    {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) 
{
    .calendar img
    {
        display: none;
    }
}

@media only screen and (min-width: 1024px) 
{
    .calendar img
    {
        transform: scale(0.8);
        margin-bottom: 5rem;
    }

    .calendar iframe
    {
        margin-left: 10vw;
    }
}