/*  Header section */
.head-section
{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.head-section
{
    min-height: 40vw;
    /* Location of the image */
    background-image: url("../img/gallery/gallery.svg");

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
}

.head-section h1
{
    text-align: center;
    border: 0.5vw solid white;
    background-color: #062344;
    color: white;
    font-size: 4vw;

    padding: 20px;
    width: fit-content;

    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
}

/* Gallery photos */
.gallery-container
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to left bottom, #a0d4e1, #8accdf, #73c4de, #59bcdd, #38b3dd);
}

.gallery-container h1
{
    font-size: 8vw;
    color: white;

    margin-top: 8vh;
    margin-bottom: 3vw;
    text-align: center;

    background-color: #062344;
    border: 0.5rem solid white;
    border-radius: 25px;

    width: 50vw;


}

.gallery-container img
{
    width: 10em;

    background-color: #062344;
    border: 0.5rem solid white;
    border-radius: 25px;
    padding: 0.7rem;

    margin: 0.5rem;
}

.photo-container
{
    width: 80vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    margin: 1.5rem;
    padding-bottom: 2rem;

    display: flex;
    
    align-items: center;
    flex-direction: column;
}

.photo-container ul
{
    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    list-style: none;
}

@media only screen and (max-width: 767px) 
{
    .gallery-container img
    {
        width: 10em;
    }

    .fall-21
    {
        margin-bottom: 5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    .gallery-container img
    {
        width: 20em;
    }

    .fall-21
    {
        margin-bottom: 10rem;
    }
}

@media only screen and (min-width: 1024px) 
{
    .gallery-container img
    {
        width: 30em;
    }

    .fall-22 img
    {
        width: 30em;
    }

    .fall-21
    {
        margin-bottom: 15rem;
    }
}