/*  Header section */
:root
{
    --fs-xl: clamp(1.5rem, 9vw + 0.3rem, 4rem);
    --fs-600: clamp(1.2rem, 3vw + 0.3rem, 3rem);
    --fs-400: clamp(0.9rem, 2.5vw + 0.3rem, 2rem);
    --fs-200: clamp(0.9rem, 2.5vw + 0.3rem, 3rem);
}

@media (min-width: 600px)
{
    :root
    {
        --fs-xl: clamp(2.5rem, 10.5vw + 0.6rem, 8rem);
        --fs-600: clamp(1.5rem, 5.5vw + 0.3rem, 5rem);
        --fs-400: clamp(1rem, 4vw + 0.3rem, 4rem);
        --fs-200: clamp(0.9rem, 3vw + 0.3rem, 3rem);
        --fs-100: clamp(0.9rem, 1.5vw + 0.3rem, 3rem);
    }
}

@media (min-width: 900px)
{
    :root
    {
        --fs-xl: clamp(3.5rem, 12.5vw + 1rem, 12rem);
        --fs-600: clamp(2rem, 6vw + 0.3rem, 6rem);
        --fs-200: clamp(0.9rem, 2vw + 0.3rem, 3rem);
        --fs-100: clamp(0.9rem, 1.5vw + 0.3rem, 3rem);
    }
}

/* All content wrapper */
.home-container
{
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
}


/* Welcome wrapper */
.welcome-container
{
    /* Location of the image */
    background-image: url("../img/home/bg.png");
}

.bg-cover
{
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size:cover;
}

.welcome-content
{
    color: white;
}

.welcome-container h1
{
    font-size: var(--fs-xl);
}

.welcome-container h2
{
    font-size: var(--fs-600);
}

.welcome-container p
{
    font-size: var(--fs-200);
}

.welcome-content a
{
    text-decoration: none;
    background-color: #062344;
    font-size: var(--fs-400);
    color: white;
    border: 0.35rem solid white;
    padding: 0.5vh 2rem;
    
}

.join-btn
{
    margin-top: 6vw;
    
}

.join-btn:hover
{
    scale: 1.05;
}

.join-btn:active
{
    scale: 0.95;
}

/* what we do wrapper */
.we-do-container
{
    display: flex;
    flex-direction: column;

    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;

    min-height: 50vh;
    background-image: url("../img/home/activities-bg-xl.png");
}

.we-do-container h1
{
    color: white;
    margin: 0.5rem 1rem;

    font-size: var(--fs-600);
}

.we-do-container h2
{
    color: #4E5D92;
    margin: 1rem 1.5rem;

    font-size: var(--fs-400);
}

.we-do-squares
{
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
}

.activity
{
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);

    overflow: scroll;
}

.activity h2
{
    color: white;
    font-size: var(--fs-200);
}

.activity p
{
    font-size: var(--fs-100);
    margin: 0.5rem 1rem;
}

/* sponsors */
.sponsors-container
{
    min-height: 65vh;
    background-image: radial-gradient(circle, #b9dbe5, #9fd0df, #84c4da, #66b9d5, #42add1);
}

.img-container
{
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    padding: 10vw 0;

    flex-wrap: wrap;
}

.sponsors-text
{
    color: white;
    padding-top: 5vh;
}

.sponsors-text h1
{
    font-size: var(--fs-600);
}

.sponsors-text h2
{
    font-size: var(--fs-200);
}


/* mobile */
@media only screen and (max-width: 767px)
{

    /* Welcome */
    .welcome-container
    {
        min-height: 35vh;
    }

    /* what we do? */
    .we-do-container
    {
        flex-direction: column;
        justify-content: center;
    }

    .welcome-content p
    {
        margin: 0.5rem 2rem;
    }

    .welcome-container a
    {
        border: 0.2rem solid white;
    }


    /* activities */
    .activity
    {
        width: clamp(15rem, 15vw, 30rem);
        height: clamp(15rem, 42vh, 45rem);
        margin: 3vh auto;
    }

    .activity h1
    {
        font-size: 3rem;
    }


    .activity img
    {
        width: 8rem;
    }

    /* sponsors */

    .img-container
    {
        display: flex;
        flex-direction: column;
    }

    .sponsor-img img
    {
        width: 13rem;
        margin: 5px 0;
    }

    

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    /* Welcome */
    .welcome-container
    {
        min-height: 50vh;
    }

    /* activities */

    .activity img
    {
        width: 7rem;
    }

    .activity
    {
        width: clamp(15rem, 15vw, 30rem);
        height: clamp(15rem, 30vh, 30rem);
        margin: 3vh auto;
    }


    /* sponsors */
    .sponsor-img img
    {
        width: 20rem;
    }

}

/* Desktop */
@media only screen and (min-width: 1024px)
{
    /* Welcome */
    .welcome-container
    {
        min-height: 90vh;     
    }

    .welcome-content p
    {
        margin: 0.8rem 10rem;
    }

    .welcome-container a
    {
        border: 0.5rem solid white;
    }

    /* activities */
    .activity
    {
        width: clamp(15rem, 30vw, 30rem);
        height: clamp(20rem, 60vh, 30rem);
    }

    .activity img
    {
        width: 10rem;
    }

    /* sponsors */
    .sponsors-container
    {
        min-height: 65vw;
    }

    .sponsor-img img
    {   
        width: 35rem;  
    }
    
}